﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="RPM_Tool.Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <style>
        .RPMbackground {
            /*background-image: -webkit-linear-gradient(215deg, white 50%, transparent), url('dist/img/LOGO RPM.png');*/
            background-image:url('dist/img/LOGO RPM.png');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="content-wrapper RPMbackground">
        <section class="content-header">
        </section>
        <section class="content">
            <br />
            <br />
            <br />
            <br />
            <br />
        </section>
    </div>
</asp:Content>
