﻿.txtStyle {
    padding-top: 4px;
}

.topStyle {
    padding-top: 10px;
}

.btn-radius-custom {
    border-radius: 10px;
}

.noPaddingLR {
    padding-left: 0px;
    padding-right: 0px;
}

.noPaddingR {
    padding-right: 0px;
}

.noPaddingL {
    padding-left: 0px;
}
